ul {
    padding: 0;
}
.addTaskbut {
    background-color: #FF9100 !important;
    border-color: #FF9100 !important;
}
.task-buttons > .btn{
    color: #FF9100 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    float: 'right';
}
.taskCreated {
    font-style: italic;
    color: rgb(96, 96, 96);
    font-size: x-small;
}
